/*map*/
#googleMap {
    width: 100%;
    height: 643px;

    position: fixed;
  }

  /*output box*/
#output {
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
  }
  
  #mode {
    color: black;
  }